name: Test
on:
  - pull_request
  - push
permissions:
  contents: read
jobs:
  run:
    name: Check for typographical errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: crate-ci/typos@master
